{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

			<div class="content-wrap">
				<div class="container">
          <h1 class="text-primary text-weight-800">2023-2025 <span class="gothic-a1" style="color:#F08421 !important">정규학교</span></h1>
					<div class="row gutter-lg-50">
            <div class="col-md-4">
              <img src="{% static 'images/class-regular.jpg' %}">
            </div>
            <div class="col-md-8">
              <p style="margin-bottom:16px;">인형, 드라마, 미디어 분야 집중 교육 및 각 분야 통합교육과정</p>
              <h2 class="gothic-a1" style="margin:40px 0 16px 0;">모집개요</h2>
              <ul class="list">
                <li class="text-size-md mb-3">· <span class="text-black">교육기간 :</span> 2023년 9월 ~ 2025년 6월(6학기, 2년제 과정)</li>
                <li class="text-size-md mb-3">· <span class="text-black">모집기간 :</span> 2022년 3월 ~ 4월 예정</li>
                <li class="text-size-md mb-3">· <span class="text-black">모집인원 :</span> 15명(국적 불문)<br>※2025년부터 매해 15명 이내 선발</li>
              </ul>
            </div>
          </div>
				</div>
			</div>

		</section><!-- #content end -->
{% endblock %}