{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

			<div class="content-wrap">
				<div class="container">
          <h1 class="text-primary text-weight-800">2022 <span class="gothic-a1" style="color:#F08421 !important">가을학교</span></h1>
					<div class="row gutter-lg-50">
            <div class="col-md-4">
              <img src="{% static 'images/class-2022-autumn.jpg' %}">
            </div>
            <div class="col-md-8">
              <h2 class="text-weight-800" style="margin-bottom:16px;">1. STUDIO A</h2>
              <p>인형극의 환상적 리얼리티는 어떻게 구현되는가? 인형극의 스토리텔링은 어디까지 확장될 수 있을까? 극장을 벗어난 인형극은 우리에게 어떤 경험과 감동을 선사할까? 인형 연기의 기초 원리부터 전통적인 줄인형, 메타버스 플랫폼과 시네마 미디어 씨어터까지 제작 실습 과정이 병행됩니다.</p>
              <table class="table">
                <tr>
                  <th>기간</th>
                  <th>교과목</th>
                  <th>교수진</th>
                </tr>
                <tr>
                  <td>8.29 ~ 9.2 (1주)</td>
                  <td>싱크로나이즈①</td>
                  <td>김태용</td>
                </tr>
                <tr>
                  <td>9.5 ~ 9.16 (2주)</td>
                  <td>비주얼 스토리텔링과 미장센①</td>
                  <td>Anna IVANOVA-BRASHINSKAYA</td>
                </tr>
                <tr>
                  <td>9.19 ~ 9.30 (2주)</td>
                  <td>싱크로나이즈②</td>
                  <td>김태용</td>
                </tr>
                <tr>
                  <td>10.3 ~ 10.7 (1주)</td>
                  <td>비주얼 스토리텔링과 미장센②</td>
                  <td>Anna IVANOVA-BRASHINSKAYA</td>
                </tr>
                <tr>
                  <td>10.10 ~ 10.21 (2주)</td>
                  <td>싱크로나이즈③</td>
                  <td>김태용</td>
                </tr>
                <tr>
                  <td>10.24 ~ 11.4 (2주)</td>
                  <td>마이크로 퍼펫 시네마 극장</td>
                  <td>Gavin GLOVER</td>
                </tr>
                <tr>
                  <td>11.7 ~ 12.2 (4주)</td>
                  <td>퍼펫티어의 스톱모션 애니메이션</td>
                  <td>Gary FRIEDMAN</td>
                </tr>
                <tr>
                  <td>12.5 ~ 12.16 (2주)</td>
                  <td>싱크로나이즈④</td>
                  <td>김태용</td>
                </tr>
                <tr>
                  <td>12.19 ~ 12.30 (2주)</td>
                  <td>CSOP 오픈주간:공동창작의 길<br>CSOP 학생교사 인턴십:시민인형극학교</td>
                  <td></td>
                </tr>
              </table>
              <h2 class="mt-6 text-weight-800" style="margin-bottom:16px;">2. STUDIO B</h2>
              <p>미지의 시간과 공간 속에서 오브제와 텍스트를 새롭게 만나고 나와 오브제, 인형과 공간의 관계성을 탐색하며, 도심을 거니는 인·형·인들의 어드벤처를 공동 창작합니다. 학생 스스로 발견한 도시 속 시공간을 무대 삼아 장소 특정적 비주얼 스토리텔링 위한 감각 깨우기와 인형 제작 실습 과정이 병행됩니다.</p>
              <table class="table">
                <tr>
                  <th>기간</th>
                  <th>교과목</th>
                  <th>교수진</th>
                </tr>
                <tr>
                  <td>8.29 ~ 9.16 (3주)</td>
                  <td>장소 특정적 인형 프로젝트①</td>
                  <td>윤정섭<br>문재희</td>
                </tr>
                <tr>
                  <td>9.19 ~ 9.30 (2주)</td>
                  <td>움직임의 문법-신체와 물체의 교차점에서</td>
                  <td>Claire Heggen</td>
                </tr>
                <tr>
                  <td>10.3 ~ 10.7 (1주)</td>
                  <td>장소 특정적 인형 프로젝트②</td>
                  <td>윤정섭<br>문재희</td>
                </tr>
                <tr>
                  <td>10.10 ~ 10.28 (3주)</td>
                  <td>비주얼 스토리텔링과 미장센</td>
                  <td>Anna IVANOVA-BRASHINSKAYA</td>
                </tr>
                <tr>
                  <td>10.31 ~ 11.4 (1주)</td>
                  <td>장소 특정적 인형 프로젝트③</td>
                  <td>윤정섭<br>문재희</td>
                </tr>
                <tr>
                  <td>11.7 ~ 12.2 (4주)</td>
                  <td>퍼펫티어의 매직박스</td>
                  <td>Christina Batman<br>Michael Corbidge<br>Liina Keevallik</td>
                </tr>
                <tr>
                  <td>12.5 ~ 12.16 (2주)</td>
                  <td>장소 특정적 인형 프로젝트④</td>
                  <td>윤정섭<br>문재희</td>
                </tr>
                <tr>
                  <td>12.19 ~ 12.30 (2주)</td>
                  <td>CSOP 오픈주간:공동창작의 길<br>CSOP 학생교사 인턴십:시민인형극학교</td>
                  <td></td>
                </tr>
              </table>
              <h2 class="mt-6 text-weight-800" style="margin-bottom:16px;">3. CSOP 인문학의 상상과 실천[인문학 Classic & 인문학 Studio]</h2>
              <p>인문학에 대한 자유로운 생각과 질문을 주고받는 과정으로 학생들의 예술과 사람, 삶, 동시대에 대한 이해와 통찰, 소통 능력을 높이는 수업입니다. 인문학 분야 최고 명사들의 특강인 '인문학 Classic'과 세미나·워크숍 방식으로 인문학-창작 과정을 연계한 '인문학 Studio'수업을 통하여, 학생 고유의 시각과 표현 언어를 발전시켜 인형극의 창조적 상상과 실천이 가능하도록 합니다.</p>
              <table class="table">
                <tr>
                  <th colspan="2">기간</th>
                  <th>교과목</th>
                  <th>교수진</th>
                </tr>
                <tr>
                  <td>08.30</td>
                  <td rowspan="5">총 8회<br>화요일 17:00~19:00</td>
                  <td rowspan="5">창작과 발상,<br>은유와 환상,<br>그래픽과 상상,<br>공간의 환유등 8회 강좌</td>
                  <td rowspan="5">이병훈</td>
                </tr>
                <tr><td>09.20</td></tr>
                <tr><td>10.4, 10.18</td></tr>
                <tr><td>11.1, 11.15, 11.29</td></tr>
                <tr><td>12.6</td></tr>
              </table>
              <h2 class="mt-6 text-weight-800" style="margin-bottom:16px;">4. CSOP 오픈 주간[공동창작의 길]</h2>
              <p>CSOP 학생들의 작업 결과물을 토대로 학교 공간을 무대 삼아 펼치는 공동 창작 주간, [Moving School in Live]</p>
              <h2 class="mt-6 text-weight-800" style="margin-bottom:16px;">5. CSOP 학생교사 인턴십[시민인형극학교]</h2>
              <p>CSOP 예비 졸업생이 교사가 되어 시민 그룹과 함께 한 주 동안 펼치는, [세상에서 가장 작은 인형극 퍼레이드]</p>
            </div>
          </div>
				</div>
			</div>

		</section><!-- #content end -->
  {% endblock %}