{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

          <h3 class="center mb-6" style="font-weight: 700;">NOTICE</h3>

					<!-- Posts -->
					<div id="posts" class="post-grid row gutter-50">
						{% for notice in notices %}
						<div class="entry col-lg-4 col-sm-6 col-12 img-hover-block" data-img="images/blog/grid/17.jpg">
							<div class="grid-inner">
								<div class="entry-title">
									<h2><a href="board-view.html">{{ notice.title }}</a></h2>
								</div>
								<div class="entry-meta">
									<ul>
										<li><i class="icon-calendar3"></i> 2022.07.01</li>
									</ul>
								</div>
								<div class="entry-content">
									<p>가을 예비학교 학생 모집합니다. 2022년 9월 부터 진행할 이번 가을 예비학교는 3개월 과정으로 인형극 배우미들을 위한 알찬 커리큘럼을 준비했습니다. 3개월간 인형극 연출을 위한 탄탄한 기본기를 익힐 수 있는 기회를 놓치지 마세요.</p>
									<a href="board-view.html" class="more-link">더보기</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div><!-- #posts end -->

					<!-- Pagination -->
					<ul class="pagination mt-5 pagination-circle justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#"><i class="icon-angle-left"></i></a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#"><i class="icon-angle-right"></i></a></li>
					</ul>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock %}