{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

      <div class="content-wrap">

				<div class="container clearfix">

					<div class="row">

						<div class="col-lg-8 portfolio-single-image">
							<a href="#"><img src="images/master-gavin.jpg" alt="Gavin Glover"></a>
						</div>
						
						<div class="col-lg-4 portfolio-single-content">

							<div class="fancy-title title-bottom-border">
								<h2>Gavin Glover</h2>
							</div>
							<p class="text-1em word-break">컨템포러리 인형극 연출, 디자인, 제작 및 코칭. 단편 인형영화제작 및 설치미술가. 영국의 컬트 극단 Faulty Optic(1987-2011) 창단 멤버로 초현실적인 이미지, 비언어 서사, 자동기계 장치의 활용, 괴상한 인형, 섬뜩한 유머 등을 절묘하게 결합시킨 독창적인 인형극 작품 및 영상 등을 선보였다. 그의 인형 애니메이션 단편 영화들은 &lt;가디언&gt;지와 BBC 등 평단의 호평을 받았다.</p>

							<div class="line"></div>

              <ul class="portfolio-meta bottommargin">
                <li><span><i class="icon-map-marker-alt"></i>국적 :</span> 영국</li>
								<li><span><i class="icon-user"></i>담당과목 :</span> 마이크로 퍼펫 시네마 극장</li>                
							</ul>

							<div class="si-share d-flex justify-content-between align-items-center mt-4">
								<span>Share:</span>
								<div>
									<a href="#" class="social-icon si-borderless si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>									
									<a href="#" class="social-icon si-borderless si-email3">
										<i class="icon-email3"></i>
										<i class="icon-email3"></i>
									</a>
								</div>
							</div>

						</div>

					</div>

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<h4>Masters</h4>

					<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

						<div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-kimtaeyong.html">
										<img src="images/master-kimtaeyong.jpg" alt="김태용">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-kimtaeyong.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-kimtaeyong.html">Kim Tae Yong</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-yoonjungsub.html">
										<img src="images/master-yoonjungsub.jpg" alt="윤정섭">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-yoonjungsub.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-yoonjungsub.html">Yoon Jung Sub</a></h3>
								</div>
							</div>
						</div>
            
            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-stephen.html">
										<img src="images/master-stephen.jpg" alt="Stephen Mottram">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-stephen.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-stephen.html">Stephen Mottram</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-cristina.html">
										<img src="images/master-cristina.jpg" alt="Cristina Batman">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-cristina.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-cristina.html">Cristina Batman</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-michael.html">
										<img src="images/master-michael.jpg" alt="Michael Corbidge">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-michael.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-michael.html">Michael Corbidge</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="master-lina.html">
										<img src="images/master-lina.jpg" alt="Lina Keevallik">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="master-lina.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="master-lina.html">Lina Keevallik</a></h3>
								</div>
							</div>
						</div>

					</div><!-- .portfolio-carousel end -->

				</div>

			</div>

		</section><!-- #content end -->
{% endblock %}