{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

      <div class="content-wrap">

				<div class="container clearfix">

					<div class="row">

						<div class="col-lg-8 portfolio-single-image">
							<a href="#"><img src="{% static 'images/master-lina.jpg' %}" alt="Lina Keevallik"></a>
						</div>
						
						<div class="col-lg-4 portfolio-single-content">

							<div class="fancy-title title-bottom-border">
								<h2>Lina Keevallik</h2>
							</div>
							<p class="text-1em word-break">유럽의 여러 극장에서 활동하는 무대&의상디자이너.</p>
              <p class="text-1em word-break">장편 영화와 인형극 영화 무대디자인을 했으며, 대형 오페라부터 언더그라운드 아방가르드 무대를 넘나드는 다원예술, 전위예술 무대 제작과 작품을 선보였다. 대표작으로 예술과 과학을 융합한 창작물, &lt;Cloud Opera&gt;, 데이터 클라우드와 대기 중의 클라우드를 병치한 작품, 인공지능이 쓰고 로봇이 수행하는 로봇을 위한 감성 교육, &lt;It's To Fight Reality Once&gt;가 있다.</p>

							<div class="line"></div>

              <ul class="portfolio-meta bottommargin">
                <li><span><i class="icon-map-marker-alt"></i>국적 :</span> 에스토니아</li>
                <li><span><i class="icon-user"></i>담당과목 :</span> 퍼펫티어의 매직박스</li>        
							</ul>

							<div class="si-share d-flex justify-content-between align-items-center mt-4">
								<span>Share:</span>
								<div>
									<a href="#" class="social-icon si-borderless si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>									
									<a href="#" class="social-icon si-borderless si-email3">
										<i class="icon-email3"></i>
										<i class="icon-email3"></i>
									</a>
								</div>
							</div>

						</div>

					</div>

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<h4>Masters</h4>

					<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

						<div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-kimtaeyong' %}">
										<img src="{% static 'images/master-kimtaeyong.jpg' %}" alt="김태용">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-kimtaeyong' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-kimtaeyong' %}">Kim Tae Yong</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-yoonjungsub' %}">
										<img src="{% static 'images/master-yoonjungsub.jpg' %}" alt="윤정섭">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-yoonjungsub' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-yoonjungsub' %}">Yoon Jung Sub</a></h3>
								</div>
							</div>
						</div>
            
            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-gavin' %}">
										<img src="{% static 'images/master-gavin.jpg' %}" alt="Gavin Glover">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-gavin' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-gavin' %}">Gavin Glover</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-stephen' %}">
										<img src="{% static 'images/master-stephen.jpg' %}" alt="Stephen Mottram">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-stephen' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-stephen' %}">Stephen Mottram</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-cristina' %}">
										<img src="{% static 'images/master-cristina.jpg' %}" alt="Cristina Batman">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-cristina' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-cristina' %}">Cristina Batman</a></h3>
								</div>
							</div>
						</div>

            <div class="oc-item">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="{% url 'master-michael' %}">
										<img src="{% static 'images/master-michael.jpg' %}" alt="Michael Corbidge">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
											<a href="{% url 'master-michael' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-arrow-right"></i></a>
										</div>
										<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{% url 'master-michael' %}">Michael Corbidge</a></h3>
								</div>
							</div>
						</div>

					</div><!-- .portfolio-carousel end -->

				</div>

			</div>

		</section><!-- #content end -->
{% endblock %}