{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">
			<div class="content-wrap pb-0">

				<div class="container">
					<div class="row justify-content-between align-items-end">
						<div class="col-md-9">
							<h2 class="display-4 text-dark fw-semibold ls--2 gothic-a1 text-primary word-break">한국 현대 인형극의 최대 거점 도시 춘천에서 시작합니다.</h2>
							<p class="text-dark mb-0 word-break">춘천은 인형극 축제와 인형극 전용 극장을 보유하고 있는 한국 현대 인형극의 최대 거점 도시로 30년 이상 한국 인형극 예술의 정체성을 가꾸고 발전시켜 왔습니다.</p>
              <p class="mt-3 word-break">춘천시의 주도 아래 2022년 8월 개관하는 춘천국제인형극학교(CSOP:Chuncheon International School of Puppetry)는 인형과 오브제를 기반으로 여러 장르와 협업 가능한 유연한 사고를 가진 종합예술인 양성을 목표로, 인형극 제작, 연구, 교류를 위한 체계적 교육시스템을 갖춘 아시아 최초의 인형극학교입니다.</p>
						</div>
						<div class="col-md-3">
						</div>
					</div>

					<img src="{% static 'images/about-01.jpg' %}" class="rounded-4 my-5">

					<div class="row topmargin bottommargin gutter-lg-50 align-items-center">
						<div class="col-lg-6 p-lg-5">
							<div class="heading-block border-bottom-0 mb-0">
								<h2 class="nott text-weight-800 mb-2 text-sec">OUR VISION</h2>
                <h3 class="gothic-a1 text-primary word-break">인형극의 창조적 상상과 실천의 즐거움이 모이는, 춘천국제인형극학교</h3>
								<p class="mt-3 word-break">춘천국제인형극학교는 인형을 매개로 인형극을 넘어, 생명과 환경, 사람과 삶, 시대와 세대를 잇는 예술의 사회적 역할을 실천하고 인형극 예술의 중심에서 활동할 미래 장인들이 서로 존중함 탐구하고 실험하는 학교를 지향합니다.</p>
                <p class="word-break">앞으로 인형극 예술을 손으로 익히고 몸으로 사유하고 눈으로 탐구하는 즐거운 창작의 길에 학생들과 함께하겠습니다.</p>
                
                <h2 class="nott text-weight-800 mt-5 mb-2">Mission</h2>
							  <h3 class="gothic-a1 text-primary word-break">인형극 예술 발전을 통한 휴머니즘의 회복과 인간의 창조성 증대에 기여</h3>
							</div>
						</div>
						<div class="col-lg-6 p-lg-5">
							<img src="{% static 'images/about-02.jpg' %}">
						</div>
					</div>
				</div>

				<div class="section p-0 testimonials clearfix">
					<div class="container" style="padding: 56px 0">
						<div class="heading-block border-bottom-0 center">
              <h2 class="nott text-weight-800 mt-5">CORE VALUE</h2>
              <div class="row justify-content-between mt-3">                
							  <div class="col-lg-3 col-md-6 my-4">
                  <i class="icon-heart21 color ms-0 text-center text-size-xl" style="color:#F08421 !important"></i>
                  <h4 class="fw-medium">다양성 존중</h4>                 
                </div>
                <div class="col-lg-3 col-md-6 my-4">
                  <i class="icon-lab2 color ms-0 text-center text-size-xl" style="color:#F08421 !important"></i>
                  <h4 class="fw-medium">탐구와 실험</h4>                 
                </div>
                <div class="col-lg-3 col-md-6 my-4">
                  <i class="icon-world color ms-0 text-center text-size-xl" style="color:#F08421 !important"></i>
                  <h4 class="fw-medium">동시대성</h4>                 
                </div>
                <div class="col-lg-3 col-md-6 my-4">
                  <i class="icon-params color ms-0 text-center text-size-xl" style="color:#F08421 !important"></i>
                  <h4 class="fw-medium">균형감각</h4>                 
                </div>
              </div>
						</div>						
					</div>

				</div>

				<div class="container">

					<div class="row flex-row-reverse mb-5 gutter-lg-50 align-items-center">
						<div class="col-lg-6 p-lg-5">
							<div class="heading-block border-bottom-0 mb-0">
								<h2 class="nott text-weight-800 mb-4">PURPOSE</h2>
								<ul class="list">
                  <li>· 인간, 사회, 시대와 소통하는 공감능력의 인형극 특화 전문예술인 양성</li>
                  <li>· 인간의 창조성 증대를 위한 인형극 예술의 종합적 안목과 창/제작 역량을 갖춘 미래 장인 발굴 및 양성</li>
                  <li>· 다각적인 인형극 향유 및 참여 기회 확대를 통한 예술의 사회적 역할 실천</li>
                  <li>· 예술산업 기반 확대를 통한'세계 인형극 중심도시, 춘천' 도시 브랜드 강화에 기여</li>
                </ul>
                <h2 class="nott text-weight-800 mb-4 mt-6">SPECIALIZED EDUCATION</h2>
								<ul class="list">
                  <li>· 소수정예 스튜디오 기반의 창·제작 중심 교육</li>
                  <li>· 인형과 오브제를 매개로 하는 전방위적 실험 중심 교육</li>
                  <li>· 미디어, 조형, 영상 분야를 연계한 열린 예술교육</li>
                  <li>· 연구-토론-워크숍-크리틱과 멘토링을 통한 창의력 발굴 교육</li>
                </ul>
							</div>
						</div>
						<div class="col-lg-6 p-lg-5">
							<img src="{% static 'images/about-03.jpg' %}">
						</div>
					</div>

				</div>

			</div>
		</section><!-- #content end -->
{% endblock %}