{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.311046064981!2d127.71827491608902!3d37.92316331137956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3562e8b452a17a0f%3A0x60801c526dd387e5!2z6rCV7JuQ64-EIOy2mOyynOyLnCDsgqzrho3rj5kgMjc3!5e0!3m2!1sko!2skr!4v1660612641323!5m2!1sko!2skr" style="width:100%;height:720px;border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

			<div class="content-wrap">
				<div class="container">

					<div class="row gutter-40 col-mb-80">
						<div class="col-lg-8 offset-lg-2">
							<h3 style="font-weight:400;" class="mb-5 text-primary"><i class="icon-map-marker1"></i> 주소: 강원도 춘천시 사농동 277 춘천국제인형극학교(구. 춘천시 청소년여행의 집)</h3>
							<hr>
							<h4 class="mt-5 mb-0 text-primary"><i class="icon-subway"></i> 전철/ITX청춘열차</h4>
							<p>경춘선 청량리역 혹은 ITX청춘 용산역/청량리역 출발 → 남춘천역/춘천역 도착, 대중교통을 이용해서 인형극장 또는 청소년 수련관 정류장에서 하차, 도보 2분 소요.</p>
							<h4 class="mb-0 text-primary"><i class="icon-bus-alt"></i> 시외버스(서울기준)</h4>
							<p>춘천시외버스터미널에서 하차, 대중교통을 이용해서 인형극장 또는 청소년 수련관 정류장에서 하차, 도보 2분 소요.</p>
							<h4 class="mb-0 text-primary"><i class="icon-bus"></i> 시내버스</h4>
							<p>1)춘천역 또는 춘천 명동(인성병원)에서 9번, 12번 버스 탑승 후 인형극장 또는 청소년 수련관 정류장에서 하차, 도보 2분 소요.</p>
							<p>2)소양고등학교 또는 중앙시장 환승센터에서 마을버스 탑승 (신북1번, 신북3번, 서면1번, 서면2-1번, 서면3번, 서면4번, 서면5번, 서면6번, 사북1번, 사북2번, 사북3번, 사북3-1번) 후 인형극장 또는 청소년 수련관 정류장에서 하차, 도보 2분 소요.</p>
							<h4 class="mb-0 text-primary"><i class="icon-car"></i> 자가이용</h4>
							<p>1)서울/경기도에서 오실 때: 46번 경춘국도 이용 → 강촌 통과 후 우측의 춘천댐, 화천방향으로 진입(약 15분 소요) → 삼거리에서 춘천방향으로 우회전해서 신매대교를 건너 좌회전 후 왼편에 춘천국제인형극학교 위치</p>
							<p>2)중앙고속도로를 이용하실 때: 춘천톨게이트 통과 후 공지천 방향으로 진입 또는 시내로 진입 → 소양2교 방향으로 이동 → 소양2교를 건너서 사거리에서 좌회전 후 직진. 인형극장 지나 춘천국제인형극학교 위치</p>
						</div>
					</div>

				</div>
			</div>

		</section><!-- #content end -->
{% endblock %}