{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

      <div class="content-wrap py-0">

				<!-- Portfolio Items
				============================================= -->
				<div class="portfolio grid-container row g-0">

					<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-01.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>입면</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-02.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>1층 로비</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-03.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>1층 휴게실</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-04.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>2층 소형스튜디오</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide">
						<div class="grid-inner">
							<div class="portfolio-image">								
									<img src="{% static 'images/facility-05.jpg' %}">								
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>2층 소형스튜디오</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-06.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>3층 오픈스튜디오</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
									<img src="{% static 'images/facility-07.jpg' %}">
								<div class="bg-overlay">
									<div class="bg-overlay-content flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc p-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutDownSmall" data-hover-speed="350">
											<h3>3층 오픈스튜디오</h3>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

				</div><!-- #portfolio end -->

				<div class="section mt-0">
					<div class="container col-padding clearfix">

						<div!>
							<h2 class="font-body fw-bold gothic-a1 text-primary facility-title word-break">춘천국제인형극학교 리모델링 콘셉트</h2>
							<p class="mt-5 text-left word-break">창작 수업과 제작 공방 사용자의 동선을 고려하여 상호 간섭 없는 구역 설계를 하였습니다. 다양한 종류의 인형 제작과 창작 환경을 고려한 스튜디오로 설계 하였습니다. 또한 장애인 이용자 편의를 위한 엘리베이터, 주차장, 경사 접근로를 설치 하여 이용자 특성을 최대한 반영 하였습니다.</p>
              <p class="text-left word-break">외부 공간 및 건물 외관은 건물 바로 옆에 위치한 소양호 자연환경과 조화를 이루도록 디자인 했으며 자연채광 및 환기 등 에너지 효율을 극대화해 자연 친화적으로 설계했습니다.</p>
						</div>

					</div>
				</div>

				<div class="container col-padding clearfix">

					<div class="row flex-row-reverse gutter-lg-50 align-items-center">
						<div class="col-lg-12 p-lg-5">
							<div class="heading-block border-bottom-0 mb-0">
								<h2 class="nott fw-semibold gothic-a1 mb-4">시설개요</h2>
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <img src="{% static 'images/building.svg' %}">
                  </div>
                  <div class="col-lg-6 mb-4">
                    <ul class="list">
                      <li><span class="text-black">시설명 :</span> 춘천국제인형극학교</li>
                      <li><span class="text-black">시설위치 :</span> 강원도 춘천시 사농동 277 / 구.춘천시 청소년여행의 집</li>
                      <li><span class="text-black">건축규모 :</span> 대지면적 2,379㎡ / 연면적 2,332㎡</li>
                      <li><span class="text-black">시설규모 :</span> 지하 1층, 지상 3층 [철근콘크리트 라멘조] / 주차장 13대</li>
                      <li><span class="text-black">주요시설 :</span> 스튜디오, 다목적홀, 제작공방, 미디어실, 정보교류공간, 사무공간 등</li>
                    </ul>
                  </div>
                </div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->
{% endblock %}