{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

          <div class="row">
            <div class="col-lg-4 text-center">
              <img src="{% static 'images/professor-lucile.png' %}">
              <p class="mt-3 text-secondary">Lucile Bodson</p>
              <ul class="text-left list">
                <li class="word-break">· 2003~2014 프랑스 세계인형극연구소 소장과 국립인형극학교 교장 역임</li>
                <li class="mt-2">· 현 국제유니마(UNIMA), 아비아마(AVIAMA) 집행위원</li>
                <li class="mt-2">· 현 프랑스 파리 공립인형극장이자 연구센터, LeMouffetard 창설 주도 및 이사장</li>
                <li class="mt-2">· 2016 프랑스 문화부의 요청으로 '프랑스 현대 인형극' 연구서를 발간하여 프랑스 예술문화훈장 수여</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <h1 class="mt-5 gothic-a1 text-primary word-break">명예 교장 루실 보송이 전하는 인사말</h1>
              <p class="word-break">'어떤 건축물이라도 그 안에 영혼이 깃들면 영원하다'는 동양 속담이 있습니다. 인형극 예술 분야의 전문교육기관이 생긴다는 소식은 언제나 기쁜 일입니다. 1950년대 동유럽을 중심으로 최초의 고등교육기관이 설립되기 전까지 인형극 교육은 극단이나 전문 단체 내에서만 전승되어 오면서 사실상 전통의 재연과 기술 전수에 국한되어 있었습니다. 전문교육기관의 출현을 통해 인형극 예술이 포괄하는 총체적이고 전인적인 교육에 대한 바람을 이룰 수 있었습니다.</p>
              <P class="word-break">춘천에 이러한 전문 교육의 장이 될 인형극학교 'CSOP'(Chuncheon International School of Puppetry)가 문을 열게 되었습니다. CSOP는 일관되면서도 변화하는 열린 교육시스템을 갖추고 계속해서 발전해 나갈 것입니다. 인형과 오브제, 비주얼, 영상, 미디어 양식을 포괄하는 통합교육을 지향하는 CSOP는 인형극을 종합예술 장르로 바라보는 동시대 흐름을 반영합니다.</P>
              <p class="word-break">인형극의 매력은 가장 단순한 것에서 가장 복잡한 것까지 세상에 존재하는 모든 형태의 예술로의 확장이 가능하며, 현대의 기술과 노하우를 접목해 재창조가 가능한 위대한 전통을 계승하고 있다는 점입니다.</p>
              <p class="word-break">CSOP의 학생들은 국내외 거장들과 다양한 아티스트들의 전인적인 교육을 통해 나날이 성장할 것입니다. CSOP는 젊은 인재들이 전통을 존중하고 동시대적 창의성을 체득하면서 자기 고유의 표현 언어를 구축하여 스스로의 예술 세계를 찾아가도록 안내할 것입니다. 이것이 CSOP의 원대한 목표입니다.</p>
              <p class="word-break">춘천국제인형극학교가 이 위대한 전통과 현대성을 아우르는 인형극 예술의 중심이 되리라 확신합니다.</p>
              <p class="text-right">                
                <span class="text-secondary">- 명예교장 루실 보송</span>
              </p>
            </div>
          </div>
          
				</div>
			</div>
		</section><!-- #content end -->
{% endblock %}