{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
		<section id="content">

			<div class="content-wrap py-0">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 mt-5 mb-5">
							<h1 class="text-size-xl text-primary text-weight-800">2022</h1>
							<div class="text-size-md"><span class="fw-semibold">8.</span> CSOP 준공식 및 개교식</div>
							<div class="text-size-md mt-3"><span class="fw-semibold">8.</span> 학교 건물 리모델링 준공(춘천시 사농동 277)</div>
							<div class="text-size-md mt-3"><span class="fw-semibold">1.</span> (재)춘천문화재단 위탁운영 승인 및 춘천국제인형극학교 운영본부 설치</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-8 offset-lg-2 mt-5 mb-5">
							<h1 class="text-size-xl text-primary text-weight-800">2021</h1>
							<div class="text-size-md"><span class="fw-semibold">10.</span> 춘천시립예술단 내 춘천국제인형극학교 설립 및 운영 준비 TF 본부 출범</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-8 offset-lg-2 mt-5 mb-5">
							<h1 class="text-size-xl text-primary text-weight-800">2020</h1>
							<div class="text-size-md"><span class="fw-semibold">12.</span> 인형극 포럼 - 국내 유사기관 사례 발굴 포럼 및 해외사례 리서치(유니마코리아 주관)</div>
							<div class="text-size-md mt-3"><span class="fw-semibold">1.</span> 춘천시 '청소년여행의 집'건물에 대한 용도 변경 및 리모델링 비용으로 춘천시에서 국비 포함 40억 확보(학교 부지 마련)</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-8 offset-lg-2 mt-5 mb-5">
							<h1 class="text-size-xl text-primary text-weight-800">2015</h1>
							<div class="text-size-md"><span class="fw-semibold">11.</span> 해외 마스터 초청 단기 아카데미 개설(춘천시 지원)</div>
							<div class="text-size-md mt-3"><span class="fw-semibold">11.</span> 프랑스 국립인형극학교와 교류 협약(춘천인형극제)</div>
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->
{% endblock %}