{% extends 'base.html' %}
{% load static %}
{% block content %}
		<section id="slider" class="slider-element boxed-slider">

			<div class="container clearfix">

				<div id="oc-slider" class="owl-carousel carousel-widget" data-items="1" data-loop="true" data-nav="true" data-autoplay="5000" data-animate-in="fadeIn" data-animate-out="fadeOut" data-speed="800">

					<a href="#" style="position:relative">
            <div class="slider-title">아시아 최초 인형극특화학교<br>
							<span style="font-size:14px;font-weight:400;">춘천국제인형극학교가 2022년 8월 25일에 개교합니다.</span></div>
            <img src="{% static 'images/slider/1.jpg' %}" alt="Slider">
          </a>
					<a href="#"><img src="{% static 'images/slider/2.jpg' %}" alt="Slider">
						<div class="slider-title">Be a puppeteer!<br>
							<span style="font-size:14px;font-weight:400;">Puppeteer란 드라마, 연극 , 인형극 조종 능력까지 갖춘 총체적인 배우이자 연출가</span></div>
					</a>
					<a href="#"><img src="{% static 'images/slider/3.jpg' %}" alt="Slider">
						<div class="slider-title">Expand the creativity and imagination of ourselves!<br></div>
					</a>
					<a href="#"><img src="{% static 'images/slider/4.jpg' %}" alt="Slider">
						<div class="slider-title">Explore your own voice as a creator!<br></div>
					</a>
					<a href="#"><img src="{% static 'images/slider/5.jpg' %}" alt="Slider">
						<div class="slider-title">Join CSOP's warm-hearted community and communicate with empathy!<br></div>
					</a>

				</div>


			</div>

		</section>

		<!-- Content -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h3 class="center" style="font-weight: 700;">LATEST </span> NEWS</h3>

					<div class="row clearfix">

						<div class="col-lg-3 bottommargin news-wrapper">
              <img src="{% static 'images/thumbnail-01.png' %}">
              <div class="home-news">
                <h6>NOTICE</h6>
                <h5>가을 예비학교 학생 모집</h5>
                <p class="left" style="font-size:16px;">가을 예비학교 학생 모집합니다. 2022년 9월 부터 진행할 이번 가을 예비학교는 3개월 과정으로 인형극 배우미들을 위한 알찬...</p>
                <span>2022.07.01</span>
              </div>	
						</div>

						<div class="col-lg-3 bottommargin news-wrapper">
              <img src="{% static 'images/thumbnail-02.png' %}">
							<div class="home-news">
                <h6>NEWS</h6>
                <h5>학교 시설물 이용 안내</h5>
                <p class="left" style="font-size:16px;">학교에 입소하는 학생들은 누구나 학교 시설물을 자유롭게 이용할 수 있습니다. 교육과 생활 편의를 위한 어려 시설을 제공하고 있...</p>
                <span>2022.06.30</span>
              </div>
						</div>

						<div class="col-lg-3 bottommargin news-wrapper">
              <img src="{% static 'images/thumbnail-03.png' %}">
							<div class="home-news">
                <h6>ARCHIVING</h6>
                <h5>시나리오 수업 자료</h5>
                <p class="left" style="font-size:16px;">가을학교 시나리오 강의 수업자료를 공유합니다. 강의는 3개 챕터 15개 아티클로 진행하며 교육 내용을 사전 숙지하시기 바랍니다.</p>
                <span>2022.06.20</span>
              </div>
						</div>

            <div class="col-lg-3 bottommargin news-wrapper">
              <img src="{% static 'images/thumbnail-04.png' %}">
							<div class="home-news">
                <h6>ARCHIVING</h6>
                <h5>인형 만들기 수업 자료</h5>
                <p class="left" style="font-size:16px;">가을학교 인형 만들기 수업을 위한 교부재 수령 안내를 드립니다. 수업전 203호에서 교직원의 안내에 따라 수령해 가시기 바랍... </p>
                <span>2022.06.11</span>
              </div>
						</div>

					</div>

					<div class="line"></div>

          <h3 class="center" style="font-weight: 700;">INSTAGRAM </span> UPDATE</h3>

          <div class="row clearfix">

						<div class="col-lg-5ths col-md-5ths center bottommargin insta-thumbnail">
              <div class="dim">
                <div>고즈넉한 CSOP 학교 전경</div>
              </div>
              <img src="{% static 'images/insta-01.png' %}">
            </div>

            <div class="col-lg-5ths col-md-5ths center bottommargin insta-thumbnail">
              <div class="dim">
                <div>인형 제작 소품실</div>
              </div>
              <img src="{% static 'images/insta-02.png' %}">
            </div>

            <div class="col-lg-5ths col-md-5ths center bottommargin insta-thumbnail">
              <div class="dim">
                <div>인형극을 위한 작품</div>
              </div>
              <img src="{% static 'images/insta-03.png' %}">
            </div>

            <div class="col-lg-5ths col-md-5ths center bottommargin insta-thumbnail">
              <div class="dim">
                <div>영국 인형극 학교 마크</div>
              </div>
              <img src="{% static 'images/insta-04.png' %}">
            </div>

            <div class="col-lg-5ths col-md-5ths center bottommargin insta-thumbnail">
              <div class="dim">
                <div>영국 인형극 학교 앞 거리</div>
              </div>
              <img src="{% static 'images/insta-05.png' %}">
            </div>

				</div>
			</div>
		</section><!-- #content end -->
{% endblock %}