{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

      <div class="content-wrap py-0">

				<!-- Masters -->
				<div id="portfolio" class="portfolio portfolio-reveal row grid-container g-0" data-layout="fitRows">

					<article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-kimtaeyong.html">
									<img src="{% static 'images/master-kimtaeyong.jpg' %}" alt="김태용">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-kimtaeyong.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-kimtaeyong.html">Kim Tae Yong</a></h3>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-yoonjungsub.html">
									<img src="{% static 'images/master-yoonjungsub.jpg' %}" alt="윤정섭">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-yoonjungsub.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-yoonjungsub.html">Yoon Jung Sub</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-gavin.html">
									<img src="{% static 'images/master-gavin.jpg' %}" alt="Gavin Glover">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-gavin.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-gavin.html">Gavin Glover</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-stephen.html">
									<img src="{% static 'images/master-stephen.jpg' %}" alt="Stephen Mottram">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-stephen.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-stephen.html">Stephen Mottram</a></h3>
							</div>
						</div>
					</article>          

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-cristina.html">
									<img src="{% static 'images/master-cristina.jpg' %}" alt="Cristina Batman">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-cristina.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-cristina.html">Cristina Batman</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-michael.html">
									<img src="{% static 'images/master-michael.jpg' %}" alt="Michael Corbidge">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-michael.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-michael.html">Michael Corbidge</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="master-lina.html">
									<img src="{% static 'images/master-lina.jpg' %}" alt="Lina Keevallik">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="master-lina.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="master-lina.html">Lina Keevallik</a></h3>
							</div>
						</div>
					</article>

				</div><!-- #masters end -->

			</div>

		</section><!-- #content end -->
{% endblock %}