{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
		<section id="content">

      <div class="content-wrap py-0">

				<!-- Masters -->
				<div id="portfolio" class="portfolio portfolio-reveal row grid-container g-0" data-layout="fitRows">

					<article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-kimtaeyong' %}">
									<img src="{% static 'images/master-kimtaeyong.jpg' %}" alt="김태용">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-kimtaeyong' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-kimtaeyong' %}">Kim Tae Yong</a></h3>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-yoonjungsub' %}">
									<img src="{% static 'images/master-yoonjungsub.jpg' %}" alt="윤정섭">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-yoonjungsub' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-yoonjungsub' %}">Yoon Jung Sub</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-gavin' %}">
									<img src="{% static 'images/master-gavin.jpg' %}" alt="Gavin Glover">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-gavin' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-gavin' %}">Gavin Glover</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-stephen' %}">
									<img src="{% static 'images/master-stephen.jpg' %}" alt="Stephen Mottram">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-stephen' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-stephen' %}">Stephen Mottram</a></h3>
							</div>
						</div>
					</article>          

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-cristina' %}">
									<img src="{% static 'images/master-cristina.jpg' %}" alt="Cristina Batman">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-cristina' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-cristina' %}">Cristina Batman</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-michael' %}">
									<img src="{% static 'images/master-michael.jpg' %}" alt="Michael Corbidge">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-michael' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-michael' %}">Michael Corbidge</a></h3>
							</div>
						</div>
					</article>

          <article class="portfolio-item col-md-4 col-sm-6 col-12">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'master-lina' %}">
									<img src="{% static 'images/master-lina.jpg' %}" alt="Lina Keevallik">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="{% url 'master-lina' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-arrow-right"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{% url 'master-lina' %}">Lina Keevallik</a></h3>
							</div>
						</div>
					</article>

				</div><!-- #masters end -->

			</div>

		</section><!-- #content end -->
{% endblock %}